.rlic_tareqanwar_post_result_one,
.rlic_tareqanwar_post_result_two,
.rlic_tareqanwar_post_result_three {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 250px;
  margin-left: 62px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #000;
  overflow-x: auto;
  z-index: 999;
}

p.rlic_tareqanwar_link {
  font-size: 16px;
  font-weight: bold;
  color: #193e68;
}

p.rlic_tareqanwar_link a {
  color: #3399cc;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 768px) {
  .rlic_tareqanwar_post_box {
    max-width: 100%;
  }
  .rlic_tareqanwar_label {
    display: block;
  }
}
